@tailwind base;
@tailwind utilities;

* {
  all: unset;
  font-family: "Satoshi Variable", "Satoshi", "Iosevka", sans-serif;
  font-weight: 600;
  font-size: 14px;
  -gtk-icon-size: 14px;
}

label {
  @apply text-on_surface
}

tooltip.background {
  @apply bg-surface_container rounded-lg text-on_surface m-2 p-2;
}

tooltip label {
  @apply px-2;
}

popover.background {
  @apply mt-2;
}

popover arrow {
  @apply bg-gray-900;
}

popover contents {
  @apply bg-gray-900 p-2 rounded-lg;
}

modelbutton {
  @apply hover:bg-gray-800 rounded-lg p-2;
}

/* separator { */
/* @apply bg-red-500; */
/* } */

trough>highlight {
  @apply bg-primary_fixed min-w-[50px] rounded-lg;
}

trough {
  @apply bg-surface_container;
}

.text-sm {
  font-size: 5rem;
}

.icon-lg {
  -gtk-icon-size: 32px;
}

.icon-xl {
  -gtk-icon-size: 42px;
}

.icon-2xl {
  -gtk-icon-size: 64px;
}

.rounded-left {
  border-radius: 7px 0 0 7px;
}