$color_1: #{"@accent_bg_color"};
$color_2: #{"@unfocused_borders"};
$bg-color: #{"@theme_bg_color"};
$font-family_1: "Satoshi Variable", "Iosevka";
$background-color_1: #0b0e14;

/* Bar */
/* App Launcher */
/* Media */
/* OSD */
/* Clipboard */
/* Power Menu */
/* Dashboard */
* {
    font-family: $font-family_1;
    font-weight: 500;
    font-size: 16px;
    border: none;
}
window {
    background: transparent;
}
button {
    border-radius: 7px;
    &:focus {
        color: $color_1;
    }
    &:hover {
        color: $color_1;
    }
}
icon {
    font-size: 14px;
}
.Progress {
    background: $color_2;
    min-height: 50px;
    min-width: 50px;
    font-size: 2px;
}
.Stats {
    background: $color_2;
    font-size: 2px;
}
.base {
    border-radius: 12px;
    padding: 10px;
    margin: 20px;
    background: $bg_color;
}
.IconLabel {
    padding-right: 5px;
}
window.Bar {
    button {
        border-radius: 12px;
        margin: 2px;
    }
}
.Workspaces {
    background: green;
    min-height: 2px;
}
.Bar {
    background-color: $background-color_1;
    padding: 0 20px;
    min-height: 40px;
}
.BarBtn {
    all: unset;
    > label {
        font-size: 14px;
        font-weight: bold;
    }
}
.Battery {
    > label {
        font-size: 14px;
        font-weight: bold;
    }
}
.AppLauncher {
    min-width: 450px;
    > scrollable {
        min-height: 510px;
    }
}
.AppLauncher-Input {
    padding: 0 20px;
    margin: 5px 0 10px;
    min-height: 40px;
}
.AppLauncher-ItemName {
    > button {
        font-size: 2rem;
        padding: 10px 0;
        min-height: 50px;
    }
}
.AppIcon {
    margin: 0 20px;
    font-size: 42px;
}
.AppText {
    padding-right: 20px;
}
.AppName {
    font-size: 1.25em;
    font-weight: 700;
}
.AppDescription {
    font-size: 0.8em;
}
.Media {
    min-width: 800px;
    padding: 5px;
}
.Cover {
    min-height: 350px;
    min-width: 350px;
    background-position: center;
    background-size: contain;
    border-radius: 7px 0 0 7px;
}
.Player {
    margin: 40px;
}
.Title {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 10px;
}
.Artist {
    font-size: 1.5em;
    font-weight: 400;
}
.Album {
    margin: 10px 0 20px 0;
}
.Osd {
    min-width: 50px;
    > icon {
        padding: 20px 0 10px;
    }
}
.Osd-Slider {
    min-height: 300px;
    border-radius: 7px;
    padding: 0;
}
slider {
    all: unset;
}
trough {
    > highlight {
        min-width: 50px;
    }
}
.Clipboard-Item {
    padding: 20px;
    > label {
        font-size: 0.9em;
    }
}
.PowerMenu-Icon {
    padding: 20px;
    margin: 20px;
    font-size: 3em;
}
.Calendar {
    min-width: 200px;
    padding: 20px;
}
calendar {
    padding: 5px;
}
